USE [master]
GO
/****** Object:  Database [Crud_test]    Script Date: 9/18/2024 9:49:03 AM ******/
CREATE DATABASE [Crud_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticeC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PracticeC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticeC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PracticeC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Crud_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Crud_test]
GO
/****** Object:  Table [dbo].[tblCrud]    Script Date: 9/18/2024 9:49:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCrud](
	[Employeeid] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
